.about-container {
	display: grid;
	flex-wrap: wrap;
	flex-direction: column;
}

.about-list {
	margin: 0;
	padding: 0;
	font-weight: 100;
	font-size: 1rem;
}

.about-list--highlight {
	display: inline;
	background: var(--grau);
	border: var(--grau) solid 1px;
	border-radius: 8px;
	padding: 0 4px;
	color: #fff;
}

.about-list li {
	margin-bottom: 16px;
}

.bg-dark {
	background: var(--dgrau);
}

@media (min-width: 500px) {
	.about-container {
		flex-wrap: nowrap;
	}
}
