.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	grid-auto-rows: minmax(400px, auto);
	grid-gap: 1rem;
	padding: 0 20px;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.card-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 15px;
	justify-content: flex-end;
}

.card img {
	max-width: 75%;
	border-radius: 50%;
	padding: 0;
	margin: 20px auto 0;
}

.card-btn {
	border: solid 1px;
	border-radius: 5px;
	padding: 2px 8px;
	margin-bottom: 10px;
	margin-right: auto;
	text-decoration: none;
	font-size: 1rem;
}

.card-btn:hover,
.card-btn:active {
	background-color: #aaaaaa;
}
