.footer-main {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	font-weight: 100;
}

.footer-main a {
	margin: 0 10px;
	text-decoration: none;
}

@media (min-width: 500px) {
	.footer-main a {
		margin: 0 52px;
	}
}