.skill-container {
	margin: 0 auto;
	display: grid;
	justify-items: center;
	gap: 48px;
}

.user-img {
	border-radius: 50%;
	align-self: center;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.skill-list li {
	margin: 3px 2px;
	padding: 1px 12px;
	border-radius: 10px;
}

.skill-html {
	border: var(--rot) solid 1px;
}

.skill-css {
	border: var(--blau) solid 1px;
}

.skill-bootstrap {
	border: var(--lila) solid 1px;
}

.skill-js {
	border: var(--gelb) solid 1px;
}

.skill-vsc {
	border: var(--blau) solid 1px;
}

.skill-more {
	border: var(--turquoise) solid 1px;
}
