* {
	box-sizing: border-box;
}

body {
	display: grid;
	gap: 48px;
	max-width: 600px;
	margin: 20px auto 150px;
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	padding: 0;
}

a:link {
	color: #000;
}

.nav-main {
	display: flex;
	justify-content: flex-start;
}

.nav-main a {
	margin: 20px;
	text-decoration: none;
}

.nav-main a:last-child {
	margin-left: auto;
}
.skill-container {
	margin: 0 auto 48px;
	display: grid;
	grid-template-rows: auto;
	justify-items: center;
}

.skill-container img {
	border-radius: 50%;
	margin-bottom: 48px;
}

.skill-heading {
	margin-bottom: 48px;
}

.skill-heading h1 {
	font-size: 2.2rem;
	font-weight: 100;
	margin: 0;
	padding: 0;
	text-align: center;
}

.skill-heading h2 {
	font-size: 1.5rem;
	font-weight: 100;
	padding: 0;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.skill-list li {
	margin: 3px 2px;
	padding: 5px 12px;
	border-radius: 5px;
}

.skill-html {
	border: #cc0000 solid 1px;
}

.skill-css {
	border: #0000cc solid 1px;
}

.skill-bootstrap {
	border: #6600cc solid 1px;
}

.skill-js {
	border: #cccc00 solid 1px;
}

.skill-vsc {
	border: #0000cc solid 1px;
}

.skill-more {
	border: #00cccc solid 1px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0 auto 48px;
}
.card {
	display: flex;
	flex-direction: column;
	flex: 0 0 90%;
	margin: 20px auto;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
	max-width: 75%;
	border-radius: 50%;
	padding: 0px;
	margin: 36px auto 0px;
}

@media (min-width: 500px) {
	.card {
		flex: 0 0 30%;
		margin: 0 auto;
	}

	.card img {
		padding: 0;
		margin: 20px auto;
	}
}

.card .card-content {
	margin-top: 15px;
	flex: 1 1 auto;
}

.card p,
.card h3 {
	padding: 15px;
	margin: 0;
}
.card button {
	border: solid 1px;
	border-radius: 5px;
	margin: 15px 15px 15px 15px;
	padding: 8px;
}

@media (min-width: 500px) {
	.card button {
		border-radius: 5px;
		margin: 15px auto 15px 15px;
	}
}

.card-btn a {
	text-decoration: none;
}

.card-btn:hover,
.card-btn:active {
	background-color: #aaaaaa;
}

.about-container {
	display: grid;
	margin: 0 auto 48px;
}

@media (min-width: 500px) {
	.about-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}

.about-list {
	padding: 0px;
	margin: 0 auto;
	align-self: center;
}

.about-container article {
	margin: 0 32px;
	align-self: center;
}

.social-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 auto 48px;
	max-width: 90%;
}

@media (min-width: 500px) {
	.social-container {
		max-width: 100%;
	}
}

.soscia-container img {
	max-width: 50%;
}

.footer-main {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	font-weight: 100;
}

.footer-main a {
	margin: 0 20px;
	text-decoration: none;
}
