* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background: #fff;
}

.nav-main {
	display: flex;
	justify-content: flex-start;
}

.nav-main a {
	margin: 20px;
	text-decoration: none;
}

.nav-main a:last-child {
	margin-left: auto;
}

.skill-container > img {
	border-radius: 50%;
}

.skill-list {
	list-style: none;
	padding: 0;
}

.skill-list li {
	display: inline-block;
	margin: 0 1px;
	padding: 5px;
}

.skill-html {
	border: #cc0000 solid 2px;
}

.skill-css {
	border: #0000cc solid 2px;
}

.skill-bootstrap {
	border: #6600cc solid 2px;
}

.skill-js {
	border: #cccc00 solid 2px;
}

.skill-vsc {
	border: #0000cc solid 2px;
}

.skill-more {
	border: #00cccc solid 2px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.card {
	flex: 0 0 200px;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
	max-width: 100%;
	border-radius: 50%;
	padding: 10px;
}
.card p,
.card h3 {
	padding: 0 20px 20px;
}
.card button {
	background: gray;
	border: 0;
	color: white;
	padding: 10px;
	width: 30%;
}
