<section id="aboutme" class="about-container">
				<h2>über mich</h2>
				<p>
					Ich bin 31 Jahre alt und wohne in Buxtehude. Lorem ipsum dolor sit
					amet consectetur adipisicing elit. Laborum eos adipisci officia.
					Fugiat mollitia exercitationem nam iure doloremque cupiditate facilis?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quos?
				</p>
				<ul class="about-list">
					<li class="about-list--highlight">2009-2012</li>
					<li>Ausbildung zum IT-Systemkaufman</li>
					<li class="about-list--highlight">2013</li>
					<li>IT-Consultant Concare IT A/S</li>
					<li class="about-list--highlight">
						2014-2019
					</li>
					<li>IT-Servicedesk Administrator hanseConcept GmbH</li>
					<li class="about-list--highlight bg-dark">2020</li>
					<li>Web Developer Bootcamp bei neuefische</li>
				</ul>
			</section>