		<footer id="contactme" class="footer-main">
      <form class="footer-grid">
        <input checked id="email" type="radio" name="details">
        <label class="border" for="email">E-Mail
          <div>
          <a href="mailto:myandy@gmx.net"><span class="fas fa-envelope"></span>myandy@gmx.net</a>
          </div>
        </label>
        <input type="radio" name="details" id="phone">
        <label for="phone">Mobil
          <div>
            <a href="tel:+4915118203667"><i class="fas fa-phone"></i>0151 18203667</a>
          </div>
        </label>
        <input type="radio" name="details" id="adress">
        <label for="adress">Post
          <span><i class="fas fa-map-pin"></i>Rübker Straße 11, 21614 Buxtehude</span>
        </label>
      </form>
		</footer>