		<footer class="footer-main">
			<a 
      href="mailto:myandy@gmx.net"><span class="fas fa-envelope"></span>myandy@gmx.net</a>
			<a href="tel:+4915118203667"><i class="fas fa-phone"></i>0151 / 18203667</a>
		</footer>