			<section class="skill-container">
				<h1>Andy Schulz <span>neue fische Web Developer</span></h1>
				<img class="user-img" src="img/logoich.png" alt="" />
				<ul class="skill-list">
					<li class="skill-html">HTML</li>
					<li class="skill-css">CSS</li>
					<li class="skill-bootstrap">Bootstrap</li>
					<li class="skill-js">JavaScript</li>
					<li class="skill-vsc">Visual Studio Code</li>
					<li class="skill-more">and more</li>
				</ul>
			</section>