			<section class="social-container">
				<a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer"><img src="img/instagram.png" alt="" /></a>
        <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="img/facebook.png" alt="" /></a>
        <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img src="img/linkedin.png" alt="" /></a>
        <a href="http://xing.com" target="_blank" rel="noopener noreferrer"><img src="img/xing.png" alt="" /></a>
        <a href="http://www.youtube.com" target="_blank" rel="noopener noreferrer"><img src="img/youtube.png" alt="" /></a>
			</section>